.politica__compra {
    background-color: #f0f0f0;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    h2 {
        font-size: 2.2rem;
        text-align: center;
        color: #222;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.6rem;
        color: #444;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    p {
        font-size: 1.1rem;
        color: #555;
        line-height: 1.7;
        margin-bottom: 15px;
        a {
            color: #2af;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}